<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.tablefilter" >

    <!-- 외장 메모리 접근을 위한 permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/table_filter_main"
        android:label="Table Filter"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!--
        android:icon="@mipmap/ic_launcher"
        android:label="MS20659K"
        android:roundIcon="@mipmap/ic_launcher_round"
        -->

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".searchActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".AndroidExplorerActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".xlsSetting"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
